<a href="#/books">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add event</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addBook()">
        <div class="form-group">
          <label>Name of event</label>
          <input type="text" class="form-control" ng-model="book.event" placeholder="event">
        </div>
        <div class="form-group">
          <label>Genre</label>
          <select ng-model="book.genre" class="form-control">
            <option value="Tournaments">Tournaments</option>
            <option value="Workshops">Workshops</option>
            <option value="Officials">Officials</option>
            </select>
        </div>
        <div class="form-group">
          <label>Instructor</label>
          <input type="text" class="form-control" ng-model="book.instructor" placeholder="instructor">
        </div>
        <div class="form-group">
          <label>Creator</label>
          <input type="text" class="form-control" ng-model="book.creator" placeholder="creator">
        </div>
        <div class="form-group">
          <label>maximum number applies</label>
          <input type="number" class="form-control" ng-model="book.registeredmax" placeholder="number of limit members">
        </div>
        <div class="form-group">
          <label>Date and time</label>
          <input type="text" class="form-control" ng-model="book.date" placeholder="Date and time">
        </div>
        <div class="form-group">
          <label>Location</label>
          <input type="text" class="form-control" ng-model="book.location" placeholder="Location">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="book.description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="book.image_url" placeholder="Image URL">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>