<!DOCTYPE html>
<html>
<head>
  <title>Swordfish</title>
  <script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
  <script src="/registration.js"></script>
  <link href="css/loginstyle.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <div class="main container row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="display-4 m-b-2">SIGN UP</h1>
  
    <!-- register form-->
    <form method="POST" action="/register">
      <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control" id="name" type="text" placeholder="first & last name" name="name"/>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" id="email" type="text" placeholder="name@email.com" name="email"/>
      </div>
      <div class="form-group">
        <label for="pw">Password:</label>
        <input class="form-control" id="pw" type="password" name="password"/>
      </div>
      <div class="form-group">
        <label for="pw2">Confirm password:</label>
        <input class="form-control" id="pw2" type="password" name="confirmPassword"/>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
  <p> </p></br>
  <p> </p>
  <p> </p>
  <p> </p></br>
  <p> </p>
  <p> </p></br>
  <p> </p>
  <p> </p>
  <p> </p></br>
  <img id="sfpic" src="img/sfpic.jpg" alt="SwordfishLogo">
</div>
</body>
</html>